<h1>Favorites#index</h1>
<p>Find me in app/views/favorites/index.html.erb</p>

<% @favorites.each do |favorite| %>
  <ul>
    <div class="uk-position-relative uk-width-1-2 uk-margin-large">
    <img><%= cl_image_tag favorite %></img>
    </div>
  </ul>
<% end %>
