<div class="uk-block uk-block uk-width-1-1">
<h1 class="uk-margin-large-left">All user paintings</h1>
</div>



<div class="uk-margin-large-left" data-uk-grid>
<% @paintings.each do |painting| %>
    <div class="veryInline uk-width-medium-1-4">
      <figure class="uk-overlay uk-overlay-hover">
        <%= cl_image_tag painting.image, :class => "uk-thumbnail"%>
        <figcaption class="uk-overlay-panel uk-overlay-background">
            <h1><%= painting.title %></h1><h5><%=  painting.user.name %></h5>
            <%= button_to "visit", painting, :method => 'get', :class => "uk-button" %>
      </figcaption>
      </figure>
    </div>
<% end %>
</div>
