<div class="uk-block uk-block uk-width-1-1">
<h1 class="uk-margin-large-left">All user paintings</h1>
</div>

<% @paintings.each do |painting| %>
<!-- <div class="uk-margin-large-left veryInline"> -->
    <div class="uk-margin-large-left uk-width-medium-1-4 veryInline">
      <h5><%= link_to painting.title, painting, :class => "uk-thumbnail-caption uk-margin-top-small" %></h5>
      <%= cl_image_tag painting.image, :class => "uk-thumbnail"%>
    </div>
  <!-- </div> -->
<% end %>
