<div class="uk-block uk-block uk-width-1-1">
<h1 class="uk-margin-large-left">All paintings</h1>
</div>

<% @paintings.each do |painting| %>
  <ul>
    <div class="uk-position-relative uk-width-1-2 uk-margin-large">
    <%= cl_image_tag painting.image %>
    <div class="uk-position-cover uk-flex uk-flex-center uk-flex-middle"><h3><%= link_to painting.title, painting %></h3></div>
    </div>
  </ul>
<% end %>
