<div class="uk-block uk-block uk-width-1-1 uk-margin-large-left">
  <h1 class="">Let's make a painting!</h1>
  <h5 class="">Touch anywhere to get started.</h5>

  <div id="paint">
    <canvas id="myCanvas" width="300" height="300">
    </canvas>
  </div>

  <%= render :partial => 'form' %>
  </div>
