<div class="uk-width-1-1 uk-margin-large-left uk-margin-top">
  <h3 class="">Relax. It's painting time.</h3>

</div>

<div class="uk-grid">

    <div class="uk-width-2-3">

      <div class="uk-panel">


        <div id="toolbar" class="uk-margin-large-left">
          <div id="colors">
          </div>

        </div>
      <div id="paintboard" class="uk-margin-large-left">
        <canvas id="canvas2" height="600" width="600"></canvas>
        <canvas id="canvas" height="600" width="600"></canvas>
      </div>
    </div>
    </div>

    <div class="uk-width-1-3">
        <div class="uk-panel uk-panel-box">

          <a class="uk-button">
            <div id="clear">
            Clear screen
            </div>
          </a>

          <div id="rad">
            <a id="decRad" class="uk-icon-button uk-icon-minus"></a>
            <a id="incRad" class="uk-icon-button uk-icon-plus"></a>
            <div class="uk-text-thumbnail uk-text-small uk-text-center">Radius</div>
        </div>
        <p class="uk-text-bold uk-text-uppercase">Select a template</p>

        <div class="uk-grid">
            <div class="uk-width-medium-1-3">
              <a class="uk-button">
                <img id="mandala1" class="uk-thumbnail-mini" src="/assets/mandalas-01.png" alt="">
              </a>
              <div class="uk-thumbnail-caption uk-text-small">Mandala 1</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="mandala2" class="uk-thumbnail-mini" src="/assets/mandalas-02.png" alt="">
            </a>
              <div class="uk-thumbnail-caption uk-text-small">Mandala 2</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="mandala3" class="uk-thumbnail-mini" src="/assets/mandalas-03.png" alt="">
              </a>
              <div class="uk-thumbnail-caption uk-text-small">Mandala 3</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="mandala4" class="uk-thumbnail-mini" src="/assets/mandalas-04.png" alt="">
              </a>
              <div class="uk-thumbnail-caption uk-text-small">Mandala 4</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="mandala5" class="uk-thumbnail-mini" src="/assets/mandalas-05.png" alt="">
              </a>
              <div class="uk-thumbnail-caption uk-text-small">Mandala 5</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="mandala6" class="uk-thumbnail-mini" src="/assets/mandalas-06.png" alt="">
              </a>
              <div class="uk-thumbnail-caption uk-text-small">Mandala 6</div>
            </div>

        </div>

      <p class="uk-text-bold uk-text-uppercase">Color Palette</p>
        <div class="uk-grid">
          <form>
            Select:
            <input type="text" id="bunny" value="#000" name="favcolor">
            <a id="kitten"class="uk-button">Add to palette</a>
          </form>

            <p>


        </div>

      <p class="uk-text-bold uk-text-uppercase">Texture Library</p>
        <div class="uk-grid">
          <div class="uk-width-medium-1-3">
            <a id="texture"class="uk-button">Crayon
            </a></div>
            <div class="uk-width-medium-1-3">
            <a id="texture2"class="uk-button">Paper
            </a></div>
            <div class="uk-width-medium-1-3">
            <a id="texture3"class="uk-button">Pixels
            </a></div>
        </div>

        <div class="uk-panel uk-panel-box">
          <%= render :partial => 'form' %>
        </div>
    </div>
</div>
</div>



<!-- <div class="uk-margin-large-left">
  <%= render :partial => 'form' %>
</div> -->
