<div class="uk-width-1-1 uk-margin-large-left uk-margin-top">
  <h3 class="">Relax. It's painting time.</h1>

<div id="toolbar">
  <div id="rad">
    Radius <span id="radval">10</span>
    <div id="decRad" class="radcontrol">-</div>
    <div id="incRad" class="radcontrol">+</div>
  </div>
  <div id="colors">
  </div>


</div>
</div>

<div class="uk-grid">
    <div class="uk-width-2-3">
      <div class="uk-panel">

      <div id="paintboard" class="uk-margin-large-left">
        <canvas id="canvas2" height="600" width="600"></canvas>
        <canvas id="canvas" height="600" width="600"></canvas>
      </div>
    </div>

    </div>

    <div class="uk-width-1-3">
        <div class="uk-panel uk-panel-box">
          <a class="uk-button">
            <div id="clear">
            Clear screen
            </div>
          </a>
          <a class="uk-button">
            <div id="gradient">
            Gradient
            </div>
          </a>
          <h3>Select a template</h3>

        <div class="uk-grid">
            <div class="uk-width-medium-1-3">
              <a class="uk-button">
                <img id="duck" class="uk-thumbnail-mini" src="https://s-media-cache-ak0.pinimg.com/originals/87/12/69/87126906af681d2e9109b7b844ad11e5.png" alt="">
              </a>
              <div class="uk-thumbnail-caption">Mandala 1</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="texture" class="uk-thumbnail-mini" src="https://s-media-cache-ak0.pinimg.com/originals/87/12/69/87126906af681d2e9109b7b844ad11e5.png" alt="">
               </a>
              <div class="uk-thumbnail-caption">Mandala 2</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="duck" class="uk-thumbnail-mini" src="https://s-media-cache-ak0.pinimg.com/originals/87/12/69/87126906af681d2e9109b7b844ad11e5.png" alt=""></a>
              <div class="uk-thumbnail-caption">Mandala 1</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="duck" class="uk-thumbnail-mini" src="https://s-media-cache-ak0.pinimg.com/originals/87/12/69/87126906af681d2e9109b7b844ad11e5.png" alt="">
              </a>
              <div class="uk-thumbnail-caption">Mandala 2</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img id="duck" class="uk-thumbnail-mini" src="https://s-media-cache-ak0.pinimg.com/originals/87/12/69/87126906af681d2e9109b7b844ad11e5.png" alt="">
              </a>
              <div class="uk-thumbnail-caption">Mandala 1</div>
            </div>

            <div class="uk-width-medium-1-3">
              <a class="uk-button">
              <img class="uk-thumbnail-mini" src="https://s-media-cache-ak0.pinimg.com/originals/87/12/69/87126906af681d2e9109b7b844ad11e5.png" alt="">
              </a>
              <div class="uk-thumbnail-caption">Mandala 2</div>
            </div>

        </div>

        <div class="uk-panel uk-panel-box">
          <h3>Color Palette</h3>
        </div>

        <div class="uk-panel uk-panel-box">
          <h3>Texture</h3>
        </div>
    </div>
</div>



<div class="uk-margin-large-left">
  <%= render :partial => 'form' %>
</div>
