<div class="uk-block uk-block uk-width-1-1 uk-margin-large-left">
  <h1 class="">Let's make a painting!</h1>
  <h5 class="">Touch anywhere to get started.</h5>
</div>

<div id="paintboard" class="uk-margin-large-left">
<div id="toolbar">
  <div id="rad">
    Radius <span id="radval">10</span>
    <div id="decRad" class="radcontrol">-</div>
    <div id="incRad" class="radcontrol">+</div>
  </div>
  <div id="colors">
  </div>
  <div id="clear">
    Clear
  </div>


</div>
    <canvas id="canvas" height="600" width="600">
    </canvas>
</div>

<div class="uk-margin-large-left">
  <%= render :partial => 'form' %>
</div>
