.veryInline {
  display: inline-block;
}

#logo {
  width: 200px;
}

nav {
  height: 60px;
}

.uk-navbar-nav > li > a {
  height: 60px !important;
  line-height: 60px  !important;
}

.uk-button {
  height: 60px !important;
  line-height: 60px !important;
}

#paintboard {
  position: relative;
  border: 0.5px solid grey;
  width: 600px;
  height: 600px;
}

#canvas {
  position: absolute;
}

#canvas2 {
  position: absolute;
  margin-top: 0px;
  left: 0;
}

.logos {
  max-width: 100px;
}

.profile {
  max-width: 50px;
}

#scream {
  height: 10px;
  width: 10px;
}

#toolbar {
  width: 580px;
  height: 34px;
  padding: 10px;
  top: 0;
  background-color: #2f2f2f;
  color: white;
}

.radcontrol {
  width: 20px;
  height: 20px;
  background-color: #4f4f4f;
  display: inline-block;
  text-align: center;
  padding: 5px;
  line-height: 20px;
}

#save {
  float: right;
  margin-right: 20px;
}

#gradient {
  display: inline-block;
}

#rad {
  display: inline-block;
  float: right;
}

#tosave {
  display: inline-block;
  position: relative;
  height: 20px;
  padding: 8px;
  background-color: #434343;
}

#tosave:hover {
  background-color: #818181;
}

#clear {
  padding-left: 2px;
  padding-right: 2px;
  display: inline-block;
}


// #colors {
//   float: right;
// }

.swatch {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
  margin-left: 10px;
  background-color: cyan;
}

.active {
  border-radius: 2px solid white;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}


@import "uikit";
@import "uikit-components";
